DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=

ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRE_MINUTES=10
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRE_DAYS=7
ALGORITHM=HS256
